@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --wp-body: #333333;
    --wp-element: #252525;
    --text-a: #FFFFFF;
    --text-b: #cfcfcf;
}

* {
    margin: 0;
    font-family: 'VT323', monospace;
    color: var(--text-b);
}

body {
    background-color: var(--wp-body);
}

/* navbar */

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    width: 1600px;
    background-color: var(--wp-element);
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    list-style-type: none;
    /* border: 1px solid red; */
    margin: 0 40px;
    padding: 20px 0px;
}

nav ul li{
    display: inline;
    padding: 20px;
}

nav ul li a {
    font-size: 18pt;
    text-decoration: none;
    transition: 0.2s;
}

nav ul li a:hover {
    color: var(--text-a);
}

/* cards */

.cards {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.cards-wrapper {
    width: 1600px;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cards-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.cards .card {
    background-color: var(--wp-element);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 50%;
    height: 100px;
}

/* @media only screen and (max-width: 768px) {
    body * {
        display: none;
    }
} */