@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;400;700&display=swap');

:root {
    --color-1: #1f2833;
    --color-2: #293443;
    --color-3: #8d8d8d;
    --color-4: #dddddd;
    --color-5: #0099FA;

    --transition-1: 0.3s ease-out;
}

* {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */

    font-size: 14pt;
}

/* each image is unselectable */
img {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

/* ::selection {
}
 */
body {
    background-color: var(--color-1);
}

nav {
    /* display: flex;
    justify-content: center; */
    margin-top: 15px;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1280px;
}

/* navbar items */

nav ul.items {
    /* border: 1px solid red; */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

nav img {
    width: 160px;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
}

nav ul.items li {
    display: inline;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

nav ul.items li a {
    text-decoration: none;
    color: var(--color-3);
    font-weight: 700;
    transition: var(--transition-1);
}

nav ul.items li a:hover {
    color: var(--color-4);
}

/* active element */

nav ul.items li.active {
    border: 2px solid var(--color-5);
}

nav ul.items li.active a {
    color: var(--color-5);
}

nav ul.items li.active a:hover {
    color: var(--color-5);
}

/* navbar links */

nav ul.links {
    /* border: 1px solid red; */
    text-align: right;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}

nav ul.links li {
    display: inline;
    margin: 10px;
}

nav ul.links li a {
    text-decoration: none;
    color: var(--color-3);
    font-weight: 700;
    transition: var(--transition-1);
}

nav ul.links li a:hover {
    color: var(--color-4);
}

/* main */

main {
    margin-top: 15px;
}

main .main-wrapper {
    margin: auto;
    width: 1280px;
    height: 500px;
    background-color: var(--color-2);
    border-radius: 15px;
}